<h1>NEWS HEADLINE CLASSIFICATION</h1>  

<p>In this notebook we will try to classify news using <b>MULTINOMIAL NAIVE BAYES</b>. We will convert text into vector by using <b>Bag Of Words</b> model.

In [64]:
##Loading all the required libraries
import pandas as pd
import numpy as np

from sklearn.naive_bayes import MultinomialNB

from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split

from sklearn.metrics import accuracy_score
import time

#library for regular expretion
import re

In [65]:
#Loading the data which is from Kaggle
#This dataset contains four news class -b for business, e- entertainment, -t for technology and science, -m for medical
data = pd.read_csv("first_batch.csv",encoding='latin-1')

In [66]:
data.tail()

,Unnamed: 0,TITLE,URL,PUBLISHER,CATEGORY,STORY,HOSTNAME,TIMESTAMP
60,60,"GM recalls another 2.4M vehicles for belts, ba...",http://www.usatoday.com/story/money/cars/2014/...,USA TODAY,t,dlM9gF_cqok-hPMsoTxBgF_NUJ3PM,www.usatoday.com,1.400000e+12
61,61,Business update: Parade of GM recalls rolls on...,http://www.indeonline.com/article/20140520/NEW...,Massillon Independent,t,dlM9gF_cqok-hPMsoTxBgF_NUJ3PM,www.indeonline.com,1.400000e+12
62,62,GM keeps recalling vehicles,http://www.shanghaidaily.com/article/article_x...,Shanghai Daily \(subscription\),t,dlM9gF_cqok-hPMsoTxBgF_NUJ3PM,www.shanghaidaily.com,1.400000e+12
63,63,More GM recalls,http://www.cbc.ca/news/business/new-gm-recall-...,CBC.ca,t,dlM9gF_cqok-hPMsoTxBgF_NUJ3PM,www.cbc.ca,1.400000e+12
64,64,10 largest GM recalls this year,http://thegardenisland.com/news/national/large...,Thegardenisland.com,t,dlM9gF_cqok-hPMsoTxBgF_NUJ3PM,thegardenisland.com,1.400000e+12

In [67]:
data['TITLE'].replace('', np.nan, inplace=True)
data.tail()

,Unnamed: 0,TITLE,URL,PUBLISHER,CATEGORY,STORY,HOSTNAME,TIMESTAMP
60,60,"GM recalls another 2.4M vehicles for belts, ba...",http://www.usatoday.com/story/money/cars/2014/...,USA TODAY,t,dlM9gF_cqok-hPMsoTxBgF_NUJ3PM,www.usatoday.com,1.400000e+12
61,61,Business update: Parade of GM recalls rolls on...,http://www.indeonline.com/article/20140520/NEW...,Massillon Independent,t,dlM9gF_cqok-hPMsoTxBgF_NUJ3PM,www.indeonline.com,1.400000e+12
62,62,GM keeps recalling vehicles,http://www.shanghaidaily.com/article/article_x...,Shanghai Daily \(subscription\),t,dlM9gF_cqok-hPMsoTxBgF_NUJ3PM,www.shanghaidaily.com,1.400000e+12
63,63,More GM recalls,http://www.cbc.ca/news/business/new-gm-recall-...,CBC.ca,t,dlM9gF_cqok-hPMsoTxBgF_NUJ3PM,www.cbc.ca,1.400000e+12
64,64,10 largest GM recalls this year,http://thegardenisland.com/news/national/large...,Thegardenisland.com,t,dlM9gF_cqok-hPMsoTxBgF_NUJ3PM,thegardenisland.com,1.400000e+12

In [68]:
#data.dropna(subset=['TITLE'], inplace=True)
#data.tail()

In [69]:
data = data[['TITLE','CATEGORY']]

In [70]:

#Printing all different types of categories
data.CATEGORY.unique()

array(['b', 'e', 't'], dtype=object)

In [71]:
#converting category column into numeric target NUM_CATEGORY column
data['NUM_CATEGORY']=data.CATEGORY.map({'b':0,'e':1,'t':2})
data.head()

                                               TITLE CATEGORY  NUM_CATEGORY
0  Fed official says weak data caused by weather,...        b             0
1  Fed's Charles Plosser sees high bar for change...        b             0
2  US open: Stocks fall after Fed official hints ...        b             0
3  Fed risks falling 'behind the curve', Charles ...        b             0
4  Fed's Plosser: Nasty Weather Has Curbed Job Gr...        b             0

In [72]:
#Splitting dataset into 60% training set and 40% test set
x_train, x_test, y_train, y_test = train_test_split(data.TITLE, data.NUM_CATEGORY, random_state=50)

In [73]:
#Here we convert our dataset into a Bag Of Word model using a Bigram model


vect = CountVectorizer(ngram_range=(2,2))
#converting traning features into numeric vector
X_train = vect.fit_transform(x_train)
#converting training labels into numeric vector
X_test = vect.transform(x_test)

In [74]:
#Training and Predicting the data
mnb = MultinomialNB(alpha =0.2)

mnb.fit(X_train,y_train)

result= mnb.predict(X_test)
print(result)

[1 2 0 2 2 2 2 1 2 1 0 2 2 1 1 1 1]

In [75]:
#Printing accuracy of the our model
accuracy_score(result,y_test)

0.9411764705882353

In [76]:
#This function return the class of the input news
def predict_news(news):
    test = vect.transform(news)
    pred= mnb.predict(test)
    if pred  == 0:
         return 'Business or Politics'
    elif pred == 1:
        return 'Entertainment'
    elif pred == 2:
        return 'Technology'
    else:
        return 'no class found'

# Checking the model on Unseen data

In [77]:
##Copy and paste the news headline in 'x'
x=["Nifty IT index down nearly 3% on Infosys weak guidance"]
r = predict_news(x)
print (r)

Entertainment

In [78]:
#Printing the confusion matrix of our prediction
from sklearn.metrics import confusion_matrix

confusion_matrix(y_test, result)

array([[2, 0, 0],
       [0, 6, 0],
       [0, 1, 8]], dtype=int64)